<section class="container padding-top-3x padding-bottom">

  <h1 class="space-top-half">Shopping Cart</h1>
  <div class="row padding-top" *ngFor="let user of users">

    <!-- Cart -->
    <div class="col-sm-8 padding-bottom-2x">
      <div *ngIf="undefined!=user.cartProducts && user.cartProducts.length > 0">
        <h3 class="toolbar-title">{{user.firstName}} {{user.lastName}}</h3>
        <p class="text-sm">
          <span class="text-gray">Currently</span> {{user.cartProducts.length}} items
          <span class="text-gray"> in cart</span>
        </p>
        <div class="shopping-cart">
          <!-- Item -->
          <div class="item" *ngFor="let cartProduct of user.cartProducts">
            <a routerLink="/shop/id/{{cartProduct.product.productId}}" class="item-thumb">
              <img src="{{cartProduct.product.image}}" alt="Item">
            </a>
            <div class="item-details">
              <h5 class="item-title"><a routerLink="/shop/id/{{cartProduct.product.productId}}">{{cartProduct.product.name}}</a></h5>
              <h6 class="item-price">{{cartProduct.product.salePrice | currency:'USD'}}</h6>
              <div class="count-input">
                <a class="incr-btn" data-action="decrease" (click)="decrease(cartProduct)">–</a>
                <input class="quantity" type="text" [value]="cartProduct.quantity">
                <a class="incr-btn" data-action="increase" (click)="increase(cartProduct)">+</a>
              </div>
            </div>
            <a class="item-remove" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove" (click)="onDeleteCartProduct(cartProduct)">
              <i class="material-icons remove_shopping_cart"></i>
            </a>
          </div>
          <!-- .item -->

        </div>
        <!-- .shopping-cart -->
      </div>
    </div>
    <!-- .col-sm-8 -->
    <div class="col-md-3 col-md-offset-1 col-sm-4 padding-bottom-2x" *ngIf="undefined!=user.cartProducts && user.cartProducts.length > 0">
      <aside>
        <h3 class="toolbar-title">Cart subtotal:</h3>
        <h4 class="amount">{{user.totalPrice()| currency:'USD'}}</h4>
        <!-- <a (click)="updateCart()" class="btn btn-default btn-block waves-effect waves-light">Update Cart</a> -->
        <a routerLink="/checkout/for/{{user.userID}}" class="btn btn-primary btn-block waves-effect waves-light space-top-none">Checkout</a>
      </aside>
    </div>

  </div>
  <!-- .row -->
</section>
