.img-container-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 1;
  overflow: hidden;
  padding-top: 50%;
  padding-bottom: 50%;
  position: relative;
}

.img-container-circle img {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
}
