<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="img-container-circle">
                <img [src]="profile?.profilePictureName | oorsiImgURL" alt="">
            </div>
        </div>
        <div class="col-md-8">
            <button class="btn btn-outline-primary" *ngIf="!userId">
        Edit Profile
      </button>
            <h2>
                {{profile?.firstName}} {{profile?.lastName}}
            </h2>

            <div class="row">
                <div class="col-xs-6">
                    <h4 class="text-bold">
                        <div>Followers</div>
                        {{profile.numberOfFollowers}}
                    </h4>
                </div>
                <div class="col-xs-6">
                    <h4 class="text-bold">
                        <div>Following</div>
                        {{profile.numberOfFollowed}}
                    </h4>
                </div>
            </div>
        </div>
    </div>

</div>