<div class="row">
    <div class="col-sm-12" [innerHTML]="termsAndConditions"></div>
    <div class="col-sm-offset-2 col-sm-10">
        <div class="pull-right">
            <button type="button" class="btn btn-default" id="cancelButton" (click)="onCancel()">Cancel</button>
        </div>
    </div>

</div>