<div class="container col-md-12 col-md-offset-3">
    
    
    <div class="img img-container-circle col-sm-6">
        <img src="assets\img\shop.png" alt="img">
    </div>
    <div class="form-footer col-sm-6">
        <h4>Choose a Way to Add Product</h4>
        <div >
            <div class="vl"></div>
            <button  routerLink="/welcome/searchProduct" type="button"
                class="btn btn-primary btn-block waves-effect waves-light">
                Search Product
            </button>
            <br/>
            <button  routerLink="/welcome/addAmazonProduct" type="button"
                class="btn btn-primary btn-block waves-effect waves-light">
                Amazon Product
            </button>
        </div>
    

</div>
</div>