<!-- <app-add-amazon-product-to-wishlist (save)="onSave($event)" [showCancelButton]="false">
</app-add-amazon-product-to-wishlist> -->

<div class="row">
    <form id="editAddressForm" class="form-horizontal" role="form" [formGroup]="complexForm" (ngSubmit)="submitForm()">
        <fieldset>
            <legend>Add Amazon Product to Wishlist</legend>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                <label class="col-sm-2 control-label" for="textinput">Amazon Link</label>
                <div class="col-sm-4">
                    <input type="text" placeholder="Amazon Link" class="form-control" formControlName="url" />
                </div>
            </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="row"><button class="btn btn-secondary"
                            routerLink="/welcome/productSearchType">Back</button><button class="btn btn-primary"
                            routerLink="/welcome/addAmazonProduct">Add Amazon Product</button></div>
                            <button class="btn btn-primary" (click)="finish()">Finish
                            </button>  
                </div>
            </div>

        </fieldset>
    </form>
</div>