form{
    position: relative;
	background: #FFF;
	padding: 20px;
	width: auto;
	max-width: 900px;
	margin: 20px auto;
}

.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	min-height: calc(100% - (.5rem * 2)) ; 
	white-space: nowrap;   
}
.form-horizontal{
	min-width: 400px;
	
}
.col-sm-2{
	width: auto;
}
.col-sm-4{
	min-width: 300px;
}