<!-- side bar that may be used for showing filtering tools or
   to display some other data for search results -->
<div class="col-lg-2 col-md-3 col-sm-4"></div>

<!-- container for the list -->
<div class="col-lg-10 col-md-9 col-sm-8">

  <!-- display search result count summery and ?? pagenation -->
  <div class="shop-bar">
    <div class="column">
      <p class="text-sm space-bottom-none">
        <!-- <span class="text-gray">Showing</span> 1-16 items -->
      </p>
    </div>
  </div>

  <!-- product items container row -->
  <div class="row">
    <!-- array of items -->
    <oorsi-web-product-item *ngFor="let product of products; let i = index" [product]="product" [index]="i">
    </oorsi-web-product-item>
  </div>
</div>
