<div class="col-md-6 padding-bottom col-md-offset-3">
  <h3>Login</h3>
  <form class="login-form" #f="ngForm" (ngSubmit)="onLogin(f)">
    <input type="text" class="form-control" placeholder="email" required ngModel name="email">
    <input type="password" class="form-control" placeholder="Password" required ngModel name="password">
    <p *ngFor="let error of errors" class="text-danger">{{error.message}}</p>
    <div class="form-footer">
      <div class="rememberme">
        <a (click)="forgotPassword()">Forgot Password?</a>

      </div>
      <div class="form-submit">
        <button type="submit" class="btn btn-primary btn-block waves-effect waves-light">Login</button>
      </div>
    </div>
  </form>
  <!-- .login-form -->

  <a class="social-signup-btn ssb-facebook" (click)="onFacebookLoginClick()">
    <i class="socicon-facebook"></i>
    <span>Login with Facebook</span>
  </a>

</div>