.invalid,
.ng-touched.ng-invalid {
  border-color: #f53d3d;
}

.fieldError {
  margin-bottom: 3px;
  color: #f53d3d;
}

.form-content {
  position: absolute;
  bottom: 0;
  left: 0;
}

.birthday{
  margin: 0;
  /* position: absolute; */
  align-content: center;
}
.form-control, .btn-block {
  max-width: 250px;
  margin-left: auto ;
  margin-right: auto;
  
}
