<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <!-- <a class="navbar-brand" href="#">OOrsi</a> -->
            <a routerLink="/" class="navbar-brand visible-desktop">
                <img id="brand-image" src="/assets/logo.png" class="img img-responsive">
            </a>
            <!-- site-logo.visible-desktop -->
            <!-- <a routerLink="/" class="site-logo visible-mobile">
        <span><img src="/assets/logo.png" class="img img-responsive"></span>
      </a> -->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" [collapse]=isCollapsed>
            <ul class="nav navbar-nav">
                <li routerLinkActive="active">
                    <a (click)="isCollapsed=true" routerLink="/shop">Shop</a>
                </li>
                <li routerLinkActive="active" *ngIf="loggedIn">
                    <a (click)="isCollapsed=true" routerLink="/friends">Friends</a>
                </li>

                <li routerLinkActive="active" *ngIf="loggedIn">
                    <a (click)="isCollapsed=true" routerLink="/wishlist">Wishlist</a>
                </li>

                <li routerLinkActive="active" *ngIf="loggedIn">
                    <a data-target="#addAmazonProductToWishlistModal" (click)="addAmazonProductToWishlistModal.show()">Add Amazon
            Product to Wishlist</a>
                </li>

                <li routerLinkActive="active" *ngIf="!loggedIn">
                    <a (click)="isCollapsed=true" routerLink="/login">Login</a>
                </li>
                <li routerLinkActive="active" *ngIf="!loggedIn">
                    <a (click)="isCollapsed=true" routerLink="/welcome/signup">Register</a>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right" *ngIf="loggedIn">
                <li routerLinkActive="active"><a (click)="isCollapsed=true" routerLink="/profile"><i class="material-icons person"></i></a></li>
                <li routerLinkActive="active"><a (click)="isCollapsed=true" routerLink="/orders">Orders</a></li>
                <li routerLinkActive="active" *ngIf="loggedIn">
                    <a (click)="isCollapsed=true" routerLink="/cart"> <i>
              <span class="material-icons shopping_basket"></span>
              <span class="count" *ngIf="cartSize">{{cartSize}}</span>
            </i></a>
                </li>
                <li routerLinkActive="active" *ngIf="loggedIn">
                    <a (click)="isCollapsed=true" routerLink="/logout">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>


<div bsModal #addAmazonProductToWishlistModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <app-add-amazon-product-to-wishlist (save)="onSave($event);addAmazonProductToWishlistModal.hide();" (cancel)="addAmazonProductToWishlistModal.hide()">
    </app-add-amazon-product-to-wishlist>
</div>