<div class="col-md-6 col-md-offset-3">
    <h3>Reset Password</h3>
    <div class="inner">
        <form class="login-form row" [formGroup]="myForm" (submit)="onSubmit()">
            <div class="col-sm-12">
                <p class="fieldError"
                    *ngIf="myForm.controls.email.errors?.remote  && (myForm.controls.email.dirty || submitAttempt)">
                    {{myForm.controls.email.errors?.remote}}</p>
                <p class="fieldError"
                    *ngIf="myForm.controls.email.errors?.required  && (myForm.controls.email.dirty || submitAttempt)">
                    Email required</p>
                <input type="text" class="form-control" placeholder="email" required formControlName="email"
                    [class.invalid]="!myForm.controls.email.valid  && submitAttempt">
            </div>
            <div class="form-footer col-sm-12">
                <div class="form-submit">
                    <button type="submit" class="btn btn-primary btn-block waves-effect waves-light">Reset Password</button>
                </div>
            </div>
        </form>
        <!-- .login-form -->
    </div>

</div>