<!-- Commented Out-->

<!-- <div class="col-md-6 col-md-offset-3">
    <h3>Add Your Birthday</h3>
    <div class="inner">
        <form class="login-form row" [formGroup]="myForm">
            <div class="col-sm-12">
                <p class="fieldError" *ngIf="myForm.controls.birthDate.errors?.required  && submitAttempt">First Name
                    required</p>
                <input type="text" class="form-control datepicker" placeholder="Birthdate" required
                    formControlName="birthDate" [class.invalid]="!myForm.controls.birthDate.valid  && submitAttempt">
            </div>
            <div class="form-footer col-sm-12">
                <div class="form-submit">
                    <button type="submit" class="btn btn-primary btn-block waves-effect waves-light"
                        (click)="save(form)">Save</button>
                </div>
            </div>
        </form>
    </div>

</div> -->