.square {
    height: 150px;
    background-color: white;
    position: relative;
    margin: auto;
}

.price {
    height: 5px;
}

.shop-item-details {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.5em;
    min-height: 75px;
    max-height: 75px;
    /* text-indent: 80px; */
}

.product-image {
    margin: auto;
    position: absolute;
    top: -9999px;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    max-height: 150px;
}