<div class="oorsi-search-container">
    <form class="search-box" (ngSubmit)="onSearch()">
        <input type="text" class="form-control" placeholder="Search OOrsi shop" [(ngModel)]="searchString" name="s">
        <button type="submit">
            <i class="material-icons search"></i>
        </button>
    </form>
</div>


<carousel [itemsPerSlide]="4" [singleSlideOffset]="false" [interval]="false" [indicatorsByChunk]="true" *ngIf="products">
    <slide *ngFor="let product of products; let i =index;" class="slide">
        <!-- <div class="col-lg-3 col-md-4 col-sm-6"> -->
        <div class="shop-item col-xs-12 col-sm-6 col-md-2">
            <div class="shop-thumbnail ">
                <!-- <a routerLink="/shop/r/{{product.retailerId}}/sku/{{product.sku}}" class="item-link"></a> -->

                <div class="square">
                    <img src="{{product.image}}" class="product-image img img-responsive " alt="Shop item">
                </div>

                <div class="shop-item-details col-xs-12 col-sm-6 col-md-2">
                    <span class="shop-item-title"><a
                            routerLink="/shop/r/{{product.retailerId}}/sku/{{product.sku}}">{{product.name}}</a></span>

                </div>

                <div class="col-xs-12 price ">
                    <span class="shop-item-price ">
                        <span class="old-price" *ngIf="product.regularPrice!=product.salePrice">
                            {{product.regularPrice | currency:'USD'}}
                        </span>
                    <span>
                            {{product.salePrice | currency:'USD'}}
                        </span>
                    </span>
                </div>
                <br />


            </div>
            <div class="col-xs-12 wish">
                <a (click)="addToWishlist(i)" class="add-to-whishlist" data-toggle="tooltip" data-placement="top" title="Wishlist">
                    <i class="material-icons favorite_border"></i>
                    <em>Add to Wishlist</em>
                </a>
            </div>
            <!-- .shop-item -->
            <!-- </div> -->
        </div>
    </slide>
</carousel>

<div class="row"><button class="btn btn-secondary" routerLink="/welcome/productSearchType">Back</button><button class="btn btn-primary" routerLink="/welcome/addAmazonProduct">Add Amazon Product</button></div>