/* .wrapper {
    width: 819px;
    margin: auto;
    padding: 7px;
} */
/* .wrapper {
    width: 819px;
    margin: auto;
    padding: 7px;
} */
* {
    /* margin: 0; */
    padding: 0
}

html {
    height: 100%
}
.container{
    align-content: center;
}
.content {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px;
    
}

select.list-dt {
    border: none;
    outline: 0;
    border-bottom: 1px solid #ccc;
    padding: 2px 5px 3px 5px;
    margin: 2px
}

select.list-dt:focus {
    border-bottom: 2px solid skyblue
}

.card {
    /* box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2); */
    top: 50%;
    left: 50%;
    margin-top: +30px;
    margin-left: auto;
     
}

.fs-title {
    font-size: 25px;
    color: #2C3E50;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #000000
}

#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 25%;
    float: left;
    position: relative
}

#progressbar #first:before {
    font-family: FontAwesome;
    content: "\0031"
    
}

#progressbar #second:before {
    font-family: FontAwesome;
    content: "\0032"
}

#progressbar #third:before {
    font-family: FontAwesome;
    content: "\0033"
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\2714"
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: skyblue
}

