<!-- <div class="container-fluid">
    <router-outlet></router-outlet>
</div> -->
<div class="container col-md-12 col-md-offset-3">
    <div class="col-11  col-sm-9 col-md-7 col-lg-6 text-center p-0 mt-3 mb-2">
        <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
        <br />
            <legend> <strong>Welcome</strong></legend>
            
            <div class="row">
                <div class="col-md-12 mx-0">
                    <div id="msform">
                       
                        
                        <ul id="progressbar">
                            <li class="active" id="first" ><strong > Sign Up</strong></li>
                            <li   id="second"><strong>Add Phone No</strong></li>
                            <li  id="third"><strong>Add Birthday</strong></li>
                            <li  id="confirm"><strong>Add product</strong></li>
                        </ul>  
                       <div class="content">

                        <router-outlet></router-outlet>
                       </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>